@{
    ViewData["Title"] = "خانه";
}
<section class="custom-bg-green screen-with-header hero-center">
    <div class="d-flex flex-column align-items-center gap-3 px-3">
        <h1>شما سزاوار شادی هستید.</h1>
        <div>دنبال چه نوع درمانی هستید؟</div>
        @* Desktop *@
        <ul class="d-flex d-md-flex flex-column flex-lg-row justify-content-between align-items-center gap-3 home-items-group p-0">
            <li class="img-container">
                <a asp-controller="test" asp-action="test">
                    <img class="custom-bg-individual d-none d-sm-block" src="~/img/home/individual_desktop.png" loading="lazy" alt="فردی‌ها" />
                    <img class="custom-bg-individual d-block d-sm-none" src="~/img/home/individual_mobile.png" loading="lazy" alt="فردی‌ها" />
                    <div class="info-item d-flex flex-column gap-sm-2">
                        <p class="h3">فردی</p>
                        <div class="d-flex align-items-center gap-2 pt-2 p-lg-0">
                            <p class="m-0">برای خودم</p>
                            <i class="fa-solid fa-arrow-left text-white"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="img-container">
                <a asp-controller="test" asp-action="test">
                    <img class="custom-bg-couples d-none d-sm-block" src="~/img/home/couples_desktop.png" loading="lazy" alt="زوج‌ها" />
                    <img class="custom-bg-couples d-block d-sm-none" src="~/img/home/couples_mobile.png" loading="lazy" alt="زوج‌ها" />
                    <div class="info-item d-flex flex-column gap-sm-2">
                        <p class="h3">زوج‌ها</p>
                        <div class="d-flex align-items-center gap-2 pt-2 p-lg-0">
                            <p class="m-0">برای من و شریکم</p>
                            <i class="fa-solid fa-arrow-left text-white"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="img-container">
                <a asp-controller="test" asp-action="test" class="">
                    <img class="custom-bg-teen d-none d-sm-block" src="~/img/home/teen_desktop.png" loading="lazy" alt="مشاوره نوجوانان" />
                    <img class="custom-bg-teen d-block d-sm-none" src="~/img/home/teen_mobile.png" loading="lazy" alt="مشاوره نوجوانان" />
                    <div class="info-item d-flex flex-column gap-sm-2">
                        <p class="h3">نوجوان</p>
                        <div class="d-flex align-items-center gap-2 pt-2 p-lg-0">
                            <p class="m-0">برای فرزندم</p>
                            <i class="fa-solid fa-arrow-left text-white"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <img class="w-100 divider-main-1" src="~/img/home/divider-main-1.png" aria-hidden="true" loading="lazy" />
    <div class="down-arrow">
        <img src="~/img/home/chevron-down.svg" />
    </div>
</section>

<section id="stats" class="reveal report bg-first-main mx-auto pt-0 pt-5" data-reveal="fade-right" data-delay="100">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between custom-max-width mx-auto">
        <div class="position-relative flex-grow-1">
            <img src="~/img/home/line-burst-green.svg" loading="lazy" alt="خط" aria-hidden="true" />
            <h2>
                بزرگترین سرویس درمانی.
            </h2>
            <h3 class="custom-sec-text-green">
                100% آنلاین
            </h3>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex flex-column custom-border-bottom py-3">
                <div aria-label="1000 پیام‌ها، چت، جلسات صوتی، تصویری">
                    <span class="counter h2 fw-bolder custom-sec-text-green" data-target="1000">0</span>
                    <span class="h2 fw-bold custom-sec-text-green">+</span>
                </div>
                <span>جلسه مشاوره، پیام و تماس موفق</span>
            </div>
            <div class="d-flex flex-column custom-border-bottom py-3">
                <div aria-label="65 درمانگران دارای مجوز آماده کمک هستند">
                    <span class="counter h2 fw-bolder custom-sec-text-green" data-target="65">0</span>
                    <span class="h2 fw-bold custom-sec-text-green">+</span>
                </div>
                <span>درمانگر حرفه‌ای دارای مجوز همراه شما هستند</span>
            </div>
            <div class="d-flex flex-column py-3">
                <div aria-label="750 مردم کمک گرفتند">
                    <span class="counter h2 fw-bolder custom-sec-text-green" data-target="750">0</span>
                    <span class="h2 fw-bold custom-sec-text-green">+</span>
                </div>
                <span>کاربر تا امروز از ما کمک گرفته‌اند</span>
            </div>
        </div>
    </div>
</section>

<div class="curved-top">
</div>

<section id="counselorFeature" class="counselor-feature p-4 p-lg-0" data-reveal="zoom-in" data-delay="200">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between custom-max-width mx-auto gap-3 gap-lg-5">
        <div class="d-flex flex-column gap-3 flex-grow-1 align-items-lg-start">
            <h2 class="lh-base">درمانگران حرفه‌ای، دارای مجوز و معتبر که می‌توانید به آن‌ها اعتماد کنید.</h2>
            <p class="d-none d-lg-block lh-lg">
                به بزرگ‌ترین شبکه درمانگران معتبر و باتجربه دسترسی پیدا کنید؛
                افرادی که می‌توانند در زمینه‌های مختلف مانند افسردگی، اضطراب، روابط،
                تروما، غم و سوگ و بسیاری مسائل دیگر همراه شما باشند. با درمانگران ما،
                همان سطح حرفه‌ای‌گری و کیفیتی را دریافت می‌کنید که از جلسات حضوری انتظار دارید،
                با این تفاوت که می‌توانید هر زمان و به هر شیوه‌ای که راحت‌تر هستید، ارتباط برقرار کنید.
            </p>
            <button class="d-none d-lg-block p-2">
                پیشنهاد تراپیست مناسب من
            </button>
        </div>
        <div class="flex-grow-1 container-counselor-images">
            <div class="counselor-grid">
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
                <img src="~/img/home/doctor-cheraghzadeh.jpg" alt="دکتر" loading="lazy" />
            </div>
        </div>
        <p class="d-block d-lg-none">
            به بزرگ‌ترین شبکه درمانگران معتبر و باتجربه دسترسی پیدا کنید؛
            افرادی که می‌توانند در زمینه‌های مختلف مانند افسردگی، اضطراب، روابط،
            تروما، غم و سوگ و بسیاری مسائل دیگر همراه شما باشند. با درمانگران ما،
            همان سطح حرفه‌ای‌گری و کیفیتی را دریافت می‌کنید که از جلسات حضوری انتظار دارید،
            با این تفاوت که می‌توانید هر زمان و به هر شیوه‌ای که راحت‌تر هستید، ارتباط برقرار کنید.
        </p>
        <button class="d-block d-lg-none p-2">
            پیشنهاد تراپیست مناسب من
        </button>
    </div>
</section>

<section class="divider-2">
    <img src="~/img/home/divider-main-2.png" alt="" loading="lazy" />
</section>

<section id="howWork" class="how-work p-4 p-lg-0">
    <div class="reveal" data-reveal="fade-up">
        <h2 class="text-center pb-3 pb-lg-5">چطور کار می‌کند؟</h2>

        <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between custom-max-width mx-auto gap-3 gap-lg-5 how-work-info">
            <div class="d-flex flex-column gap-3 flex-grow-1 align-items-lg-start">
                <h3 class="lh-base">درمانگر مناسب خود را پیدا کنید</h3>
                <p>
                    تنها با پاسخ دادن به چند پرسش ساده، ما به شما کمک می‌کنیم تا درمانگری دارای مجوز را بیابید که با نیازها و ترجیحات شما بیشترین تطابق را دارد.
                    به بزرگ‌ترین شبکه‌ی آنلاین درمانگران حرفه‌ای دسترسی خواهید داشت.
                </p>
            </div>

            <div class="flex-grow-1 media-wrap">
                <img src="~/img/home/image-how-it-works-1.png" alt="نمایش صفحه‌ی پیدا کردن درمانگر" loading="lazy" />
            </div>
        </div>
    </div>

    <div class="reveal" data-reveal="fade-up">
        <div class="py-5 text-center">
            <!-- این تصویر تزیینی است -->
            <img class="arrow-image" src="~/img/home/arrow-down-green-2.png" alt="" aria-hidden="true" loading="lazy" />
        </div>

        <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between custom-max-width mx-auto gap-3 gap-lg-5 how-work-info">
            <div class="d-flex flex-column gap-3 flex-grow-1 align-items-lg-start">
                <h3 class="lh-base">به شیوه‌ی دلخواه خود ارتباط بگیرید</h3>
                <p>
                    با درمانگر خود از هر روشی که برایتان راحت‌تر است ارتباط برقرار کنید؛
                    از طریق پیام، چت، تماس صوتی یا ویدیو.
                    همان کیفیت، حرفه‌ای‌گری و توجهی را تجربه خواهید کرد که از جلسات حضوری انتظار دارید.
                </p>
            </div>

            <div class="flex-grow-1 media-wrap">
                <img src="~/img/home/image-how-it-works-2.png" alt="ارتباط از طریق پیام، تماس صوتی و ویدیو" loading="lazy" />
            </div>
        </div>
    </div>

    <div class="reveal" data-reveal="fade-up">
        <div class="py-5 text-center">
            <img class="arrow-image" src="~/img/home/arrow-down-green-2.png" alt="" aria-hidden="true" loading="lazy" />
        </div>

        <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between custom-max-width mx-auto gap-3 gap-lg-5 how-work-info">
            <div class="d-flex flex-column gap-3 flex-grow-1 align-items-lg-start">
                <h3 class="lh-base">دسترسی به درمان، هر زمان که بخواهید</h3>
                <p>
                    در هر زمان و از هر مکان می‌توانید برای درمانگر خود پیام بفرستید.
                    همچنین می‌توانید جلسات زنده را در زمان دلخواه خود برنامه‌ریزی کنید
                    و از طریق تلفن همراه یا رایانه به‌راحتی به آن متصل شوید.
                </p>
            </div>

            <div class="flex-grow-1 media-wrap">
                <img src="~/img/home/image-how-it-works-3.png" alt="دسترسی به جلسات درمان از موبایل و کامپیوتر" loading="lazy" />
            </div>
        </div>
    </div>
</section>

<section class="divider-3" aria-hidden="true">
    <img src="~/img/home/divider-main-3.png" alt="" loading="lazy" />
</section>

<section id="comparison" class="comparison-table">
    <div class="reveal py-5 comparison-table custom-max-width mx-auto" data-reveal="fade-up">
        <h3 class="text-center">مقایسه سنس کلینیک با درمان سنتی (حضوری)</h3>

        <div class="table-container">
            <div class="table-row header">
                <div></div>
                <div>
                    <img class="logo" src="~/img/global/logo-white.webp" loading="lazy" />
                    <span class="d-none d-lg-block">سنس کلینیک</span>
                </div>
                <div>درمان سنتی</div>
            </div>

            <div class="table-row">
                <div>
                    <span>تحت نظر درمانگران دارای مجوز و تخصص</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="تمام جلسات توسط درمانگران تأیید‌شده و دارای مجوز رسمی انجام می‌شود.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
            </div>

            <div class="table-row">
                <div>
                    <span>نیاز به مراجعه حضوری</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="در سنس کلینیک، تمام جلسات به‌صورت آنلاین برگزار می‌شود و نیازی به حضور فیزیکی نیست.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/no.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
            </div>

            <div class="table-row">
                <div>
                    <span>برنامه‌ریزی و رزرو آسان جلسات</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="کاربران می‌توانند به‌صورت آنلاین زمان مناسب را انتخاب و رزرو کنند.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/no.svg" loading="lazy" />
                </div>
            </div>

            <div class="table-row">
                <div>
                    <span>کاربرگ‌ها و فرم‌های دیجیتال</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="تمام فرم‌ها و ارزیابی‌ها به‌صورت آنلاین و دیجیتالی انجام می‌شوند.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/no.svg" loading="lazy" />
                </div>
            </div>

            <div class="table-row">
                <div>
                    <span>تطبیق هوشمند درمانگر با نیاز شما</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="سیستم هوشمند سنس کلینیک بهترین درمانگر را بر اساس نیاز و اهداف شما پیشنهاد می‌دهد.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/no.svg" loading="lazy" />
                </div>
            </div>

            <div class="table-row">
                <div>
                    <span>دسترسی از هر مکان و در هر زمان</span>
                    <i class="fas fa-info-circle ms-2"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="می‌توانید بدون محدودیت مکانی و زمانی به درمان خود ادامه دهید.">
                    </i>
                </div>
                <div class="bg-white justify-content-center">
                    <img src="~/img/home/yes.svg" loading="lazy" />
                </div>
                <div class="justify-content-center">
                    <img src="~/img/home/no.svg" loading="lazy" />
                </div>
            </div>
        </div>
    </div>



    <img class="w-100 h-auto" src="~/img/home/divider-main-4.png" alt="" loading="lazy" />
</section>

<div class="curved-top-2"></div>

<section id="home_faq_section" class="home_faq_section">
    <!-- HTML -->
    <div class="reveal py-5 custom-max-width mx-auto" data-reveal="fade-up">
        <h3 class="text-center">سوالات متداول</h3>

        <div id="faqAccordion" class="faq-accordion">

            <!-- item 1 -->
            <div class="faq-item">
                <button class="collapse-toggle" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse1"
                        aria-expanded="false"
                        aria-controls="collapse1"
                        id="toggle1">
                    <span>درمانگران چه کسانی هستند؟</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>

                <div id="collapse1" class="collapse" aria-labelledby="toggle1" data-bs-parent="#faqAccordion">
                    <div class="collapse-content">
                        <p>
                            ما از هر درمانگری که خدمات درمانی را در این پلتفرم ارائه می‌دهد،
                            می‌خواهیم که دارای مجوز آموزش‌دیده و باتجربه از ایالات متحده، روانشناس (دکترا / PsyD)،
                            درمانگر دارای مجوز ازدواج و خانواده (LMFT)، مددکار اجتماعی بالینی دارای مجوز (LCSW)،
                            مشاور حرفه‌ای دارای مجوز (LPC)، مشاور سلامت روان دارای مجوز (LMHC) یا مجوز حرفه‌ای مشابه و
                            شناخته‌شده بر اساس ایالت و/یا حوزه قضایی خود باشد.
                            درمانگران باید دارای مدرک دانشگاهی مرتبط در رشته خود،
                            حداقل 3 سال سابقه کار، حداقل 1000 ساعت تجربه عملی باشند و پس از تکمیل موفقیت‌آمیز الزامات آموزشی،
                            امتحانات، آموزش و تمرین لازم، طبق مقررات، توسط هیئت ایالتی مربوطه واجد شرایط و دارای مجوز باشند.
                        </p>
                    </div>
                </div>
            </div>

            <!-- item 2 -->
            <div class="faq-item">
                <button class="collapse-toggle" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse2"
                        aria-expanded="false"
                        aria-controls="collapse2"
                        id="toggle2">
                    <span>چه کسی به من کمک خواهد کرد؟</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>

                <div id="collapse2" class="collapse" aria-labelledby="toggle2" data-bs-parent="#faqAccordion">
                    <div class="collapse-content">
                        <p>
                            پس از ثبت نام، ما شما را با یک درمانگر در دسترس که با اهداف، ترجیحات و نوع مشکلاتی که با آنها مواجه هستید،
                            مطابقت می‌دهد، مرتبط خواهیم کرد. درمانگران مختلف رویکردها و حوزه‌های تمرکز متفاوتی دارند،
                            بنابراین مهم است که فرد مناسبی را پیدا کنید که بتواند بهترین نتایج را برای شما به ارمغان بیاورد.
                            ما دریافته‌ایم که در بیشتر مواقع می‌توانیم یک درمانگر موفق ارائه دهیم. با این حال،
                            اگر این فرآیند را شروع کنید و احساس کنید درمانگر شما برای شما مناسب نیست، می‌توانید درمانگر دیگری را برای خود انتخاب کنید.
                        </p>
                    </div>
                </div>
            </div>

            <!-- تکرار برای collapse3, collapse4, collapse5 -->
            <div class="faq-item">
                <button class="collapse-toggle" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse3"
                        aria-expanded="false"
                        aria-controls="collapse3"
                        id="toggle3">
                    <span>عنوان سوال ۳</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <div id="collapse3" class="collapse" aria-labelledby="toggle3" data-bs-parent="#faqAccordion">
                    <div class="collapse-content"><p>محتوا ۳</p></div>
                </div>
            </div>

            <div class="faq-item">
                <button class="collapse-toggle" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse4"
                        aria-expanded="false"
                        aria-controls="collapse4"
                        id="toggle4">
                    <span>عنوان سوال ۴</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <div id="collapse4" class="collapse" aria-labelledby="toggle4" data-bs-parent="#faqAccordion">
                    <div class="collapse-content"><p>محتوا ۴</p></div>
                </div>
            </div>

            <div class="faq-item">
                <button class="collapse-toggle" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse5"
                        aria-expanded="false"
                        aria-controls="collapse5"
                        id="toggle5">
                    <span>عنوان سوال ۵</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <div id="collapse5" class="collapse" aria-labelledby="toggle5" data-bs-parent="#faqAccordion">
                    <div class="collapse-content"><p>محتوا ۵</p></div>
                </div>
            </div>

        </div>
    </div>


</section>

@section Styles {
    <link href="~/css/home.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/home.js"></script>
}